/*  your css code here. If applicable */
.container {
  width: 600px;
  height: 400px;
  margin: 0 auto;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.red {
  width: 200px;
  height: 200px;
  background-color: red;
  border: 1px solid black;
}

.green {
  width: 300px;
  height: 200px;
  background-color: green;
  border: 1px solid black;
}

.yellow {
  width: 100px;
  height: 200px;
  background-color: yellow;
  border: 1px solid black;
}
